/* create css here */
:root{
    /* Color */
    --black: #222222;
    --semi-white: #F6F6F6;
    --white: #FFFFFF;
    --grey: #C3C3C3;
    --dark-grey: #86817F;
    --dark-green: #005247;
    --med-green: #4B8077;
    --light-green: #00A043;
    --dark-orange: #FD9303;
    --light-orange: #FFF8EE;
    --cream: #FDECCE;
    --light-red: #CD6C8C;

    /* Calories, Fats, Carbo, Protein Color */
    --food-cream: #FDECCE;
    --food-orange: #FE8E04;
    --food-purple: #7D60F8;
    --food-green: #00A043;

    /* Font */
    --serif-font: 'Libre Baskerville', serif;
    --sansserif-font: 'Plus Jakarta Sans', sans-serif;
}

.header{
    display: grid;
    grid-template-columns: 70% 30%;
}
.main-section{
    padding: 60px 2.5vw 30px 2.5vw;
    background-color: var(--semi-white);
    height: 100%;
}

.menu-list-large{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.category-wrapper{
    margin-top: 10px;
    display: flex;
}
.button{
    border: none !important;
    background-color: var(--white);
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 10px !important;
    color: var(--black) !important;
    height: auto !important;
    margin-right: 5px !important;
    font-size: 12px !important;

}
.category-set:hover{
    background-color: var(--dark-orange);
    color: var(--white) !important;
}
.active-btn{
    background-color: var(--dark-orange) !important;
    color: var(--white) !important;
}

.control{
    margin-right: 0.5vw !important;
}

/* Add Nutrient */
.number-font{
    font-family: var(--sansserif-font);
    font-weight: 700;
    font-size: 72px;
}
.nutrient-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.nutrient-info{
    max-width: 100%;
    box-sizing: border-box;
    padding: 30px 40px;
    transition: 0.3s;
    height: 400px;
    border-radius: 25px;
    /* transition: 0.3s; */
}
.nutrient-info:hover{
    filter: drop-shadow(0px 5px 3px rgba(0.15, 0.15, 0.15, 0.1));
}

.nutrient-detail{
    width: auto;
    height: 90%;
    /* background-color: red; */
}

.button-base{
    /* border: 2px solid var(--food-cream); */
    color: var(--white);
    font-weight: 600;
    border-radius: 20px;
    padding: 7px 5px;
    cursor: pointer;
}
.bg-cream{
    background-color: #ebc582cc;
}
.bg-orange{
    background-color: var(--food-orange);
}
.bg-purple{
    background-color: var(--food-purple);
}
.bg-green{
    background-color: var(--food-green);
}
.bg-white{
    background-color: var(--white);
}

.text-cream{
    color: #d3ab67cc;
}
.text-orange{
    color: var(--food-orange);
}
.text-purple{
    color: var(--food-purple);
}
.text-green{
    color: var(--food-green);
}
.text-white{
    color: var(--white);
}

.border-cream{
    border:1px solid #d3ab67cc;
}
.border-orange{
    border:1px solid var(--food-orange);
}
.border-purple{
    border:1px solid var(--food-purple);
}
.border-green{
    border:1px solid var(--food-green);
}
.border-white{
    border:1px solid var(--white);
}


.hover{
    transition: 0.3s;
}
.hover:hover{
    opacity: 0.8;
}

.btn-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.upper-wrap{
    /* display: grid;
    grid-template-columns: 70% auto; */
    column-gap: 20px;
    height: auto;
    overflow-x: scroll;
}
.insider{
    background-color: white;
    border-radius: 25px;
    width: 100%;
    height: auto;
}
.center{
    display: flex;
    align-items: center;
}

.button-width{
    width: 100% !important;
}
.center-button{
    display: grid;
    grid-template-columns: 45% 50%;
    column-gap: 10px;
}