/* create css here */
:root{
    /* Color */
    --black: #222222;
    --semi-white: #F6F6F6;
    --white: #FFFFFF;
    --grey: #C3C3C3;
    --dark-grey: #86817F;
    --dark-green: #005247;
    --med-green: #4B8077;
    --light-green: #00A043;
    --dark-orange: #FD9303;
    --light-orange: #FFF8EE;
    --cream: #FDECCE;
    --light-red: #CD6C8C;

    /* Calories, Fats, Carbo, Protein Color */
    --food-cream: #FDECCE;
    --food-orange: #FE8E04;
    --food-purple: #7D60F8;
    --food-green: #00A043;

    /* Font */
    --serif-font: 'Libre Baskerville', serif;
    --sansserif-font: 'Plus Jakarta Sans', sans-serif;
}

.header{
    display: grid;
    grid-template-columns: 70% 30%;
}
.main-section{
    padding: 60px 2.5vw 30px 2.5vw;
    background-color: var(--semi-white);
    height: 100%;
}

.menu-list-large{
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    column-gap: 20px;
    row-gap: 30px;
}

.category-wrapper{
    margin-top: 10px;
    display: flex;
}
.button{
    border: none !important;
    background-color: var(--white);
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 10px !important;
    color: var(--black) !important;
    height: auto !important;
    margin-right: 5px !important;
    font-size: 12px !important;

}
.category-set:hover{
    background-color: var(--dark-orange);
    color: var(--white) !important;
}
.active-btn{
    background-color: var(--dark-orange) !important;
    color: var(--white) !important;
}

.control{
    margin-right: 0.5vw !important;
}