/* create css here */
:root{
    /* Color */
    --black: #222222;
    --semi-white: #F6F6F6;
    --white: #FFFFFF;
    --grey: #C3C3C3;
    --dark-grey: #86817F;
    --dark-green: #005247;
    --med-green: #4B8077;
    --light-green: #00A043;
    --dark-orange: #FD9303;
    --light-orange: #FFF8EE;
    --cream: #FDECCE;
    --light-red: #CD6C8C;
    --hover-grey: #F0F0F0;

    /* Calories, Fats, Carbo, Protein Color */
    --food-cream: #FDECCE;
    --food-orange: #FE8E04;
    --food-purple: #7D60F8;
    --food-green: #00A043;

    /* Font */
    --serif-font: 'Libre Baskerville', serif;
    --sansserif-font: 'Plus Jakarta Sans', sans-serif;
}

body{
    background-color: var(--white);
}

.header{
    margin-top: 4.8vw;
    margin-left: 4vw;
}

.header h3{
    font-size: 1.7vw;
}

.up-wrapper{
    width: 100%;
    height: 95vh;
    /* background-color: red; */
}
.form-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2.3vw 3.5vw;
    width: 48.75vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 88vh;
}

.form-title{
    font-weight: 700;
    margin-bottom: 2.5vw;
}

.profile-picture{
    display: flex;
    flex-direction: row;
    width: 22vw;
    gap: 20px;
    align-items: center;
}

.profile-picture img{
    width: 5.5vw;
    border-radius: 50%;
}

#imagePreview{
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
}

.button-green{
    background-color: var(--med-green);
    color: white;
    height: fit-content;
    border: 1px var(--med-green) solid;
    padding: 0.6vw 1.3vw;
    font-family: var(--sansserif-font);
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.7vw;
}
.button-green:hover{
    opacity: 0.9;
}

.pointer{
    cursor: pointer;
}

.button-semi-green{
    background-color: var(--white);
    color: var(--med-green);
    height: fit-content;
    border: 1px var(--med-green) solid;
    padding: 0.6vw 1.3vw;
    font-family: var(--sansserif-font);
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.7vw;
}
.button-semi-green:hover{
    background-color: var(--hover-grey);
}

.button-white{
    background-color: white;
    color: #A0A1A8;
    border: 1px #A0A1A8 solid;
    height: fit-content;
    padding: 0.6vw 1.3vw;
    font-family: var(--sansserif-font);
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.7vw;
}
.del:hover{
    background-color: var(--hover-grey);
    border: 1px solid var(--light-red);
    color: var(--light-red);
}
.save:hover{
    background-color: var(--hover-grey);
    border: 1px solid var(--med-green);
    color: var(--med-green);
}

.field{
    margin-top: 1.5vw;
}

.line{
    position: relative;
    display: block;
    margin: 0vw 0 2vw -3.5vw;
    width: 48.75vw;
    border-top: 1px #CCCCC3 solid;
}

.wrapper-button{
    position: relative;
    display: flex;
    width: 13vw;
    justify-content: space-between;
    margin-left: 28.5vw;
}

.right-form-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2.3vw 2vw;
    width: 24vw;
    background-color: #FFFFFF;
    border-radius: 20px;
    /* height: 40.5vw; */
    height: 88vh;
}

.required-tag{
    color: red;
}

.line-2{
    position: relative;
    display: block;
    margin: 10.5vw 0 2vw -2vw;
    width: 24vw;
    border-top: 1px #CCCCC3 solid;
}

.save-button{
    display: flex;
    justify-content: flex-end;
}

.control input{
    border-radius: 10px;
}
