/* create css here */
:root{
    /* Color */
    --black: #222222;
    --semi-white: #F6F6F6;
    --white: #FFFFFF;
    --grey: #C3C3C3;
    --dark-grey: #86817F;
    --dark-green: #005247;
    --med-green: #4B8077;
    --light-green: #00A043;
    --dark-orange: #FD9303;
    --light-orange: #FFF8EE;
    --cream: #FDECCE;
    --light-red: #CD6C8C;

    /* Calories, Fats, Carbo, Protein Color */
    --food-cream: #FDECCE;
    --food-orange: #FE8E04;
    --food-purple: #7D60F8;
    --food-green: #00A043;

    /* Font */
    --serif-font: 'Libre Baskerville', serif;
    --sansserif-font: 'Plus Jakarta Sans', sans-serif;
}

/* body{
    background-color: red;
} */

.header-font{
    font-family: var(--sansserif-font);
    font-weight: 700;
    font-size: 24px;
}
.subheader-font{
    font-family: var(--sansserif-font);
    font-weight: 400;
    font-size: 14px;
    color: #A0A1A8;
}
.tnc{
    font-family: var(--sansserif-font);
    font-weight: 400;
    font-size: 12px;
    color: #222222;  
    display: flex;
}
span{
    color: #4B8077;
    font-weight: 700;
}


.container{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    width: 45vw;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bgImage{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pembungkus{
    display: grid;
    grid-template-columns: 55% 45% !important;
    /* padding-bottom: 25px; */
}

.backgroundimage{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100% !important;
}

.kotak1{
    padding-left: 2.5vw;
}

.kotak2{
    background-color: #FFF8EE;
    /* margin: 0 25px; */
    border-radius: 20px;
    overflow: hidden;
    width: auto;
    height: 100%;
}
.kotak2 img{
    height: 100%;
    width: auto;
    transition: 0.3s;
    filter: brightness(0.75);
    object-fit: cover;
}
.kotak2 img:hover{
    transform: scale(1.07);
}

.control input{
    border-color: #CCCCC3;
    border-radius: 10px;
    height: 35px !important;
}

.regist{
    color: var(--white);
    border-radius: 15px !important;
    width: 100%;
    padding: 7px;
    background-color: var(--med-green) !important;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.regist:hover{
    opacity: 0.85;
}

.font{
    font-size: 18px;
    font-weight: 700;
}

.SK{
    display: grid;
    /* justify-content: center; */
    align-items: center;
    grid-template-columns: 10% auto;
    justify-content: baseline;
}

.login{
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.fontcolor{
    color: var(--med-green);
}

/*  */
.terms-condition, .remember-me{
    margin-left: 0;
    /* display: flex;
    justify-content: space-around; */
    width: 300px;
}
.terms-condition input, .remember-me input{
    margin-right: 5px;
    width: 13px;
    height: 13px;
}
.terms-condition label, .remember-me label{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
}
.terms-condition a, .remember-me a{
    margin-left: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #4B8077;
}

section{
    width: 80vw;
    height: 70vh;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.margin-top{
    margin-top: 5vw;
}