/* create css here */
:root{
    /* Color */
    --black: #222222;
    --semi-white: #F6F6F6;
    --white: #FFFFFF;
    --grey: #C3C3C3;
    --dark-grey: #86817F;
    --dark-green: #005247;
    --med-green: #4B8077;
    --light-green: #00A043;
    --dark-orange: #FD9303;
    --light-orange: #FFF8EE;
    --cream: #FDECCE;
    --light-red: #CD6C8C;

    /* Calories, Fats, Carbo, Protein Color */
    --food-cream: #FDECCE;
    --food-orange: #FE8E04;
    --food-purple: #7D60F8;
    --food-green: #00A043;

    /* Font */
    --serif-font: 'Libre Baskerville', serif;
    --sansserif-font: 'Plus Jakarta Sans', sans-serif;
}

/* body{
    background-color: red;
} */

.header-font{
    font-family: var(--sansserif-font);
    font-weight: 700;
    font-size: 24px;
}

.container{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    width: 44.1vw;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bgImage{
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.pembungkus{
    display: grid;
    grid-template-columns: auto auto !important;
    padding-bottom: 25px;
}

.backgroundimage{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100% !important;
}

.kotak1{
    padding-left: 2.5vw;
}

.kotak2{
    width: 300px;
    display: flex;
    margin: 30px;
    margin-right: none;
    /* height: 100%; */
    /* justify-content: center; */
}

.control input{
    border-color: #CCCCC3;
    border-radius: 10px;
    height: 35px !important;
}

.regist{
    color: var(--white);
    border-radius: 20px !important;
    width: 100%;
    padding: 7px;
    background-color: var(--med-green) !important;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    border: none;
}

.font{
    font-size: 20px;
    font-weight: 700;
}

.SK{
    display: grid;
    /* justify-content: center; */
    align-items: center;
    grid-template-columns: auto auto;
}

.login{
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.fontcolor{
    color: var(--med-green);
}
