.position-fixed{
    position: fixed;
    width: 15vw;
}
/* Sidebar Heading */
.sidebar-heading{
    width: 70%;
    font-family: var(--sansserif-font);
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.sidebar-subheading{
    font-family: var(--sansserif-font);
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subhead-active{
    font-weight: 700 !important;
    color: var(--dark-green) !important;
}
.menu-content svg{
    fill: var(--dark-green);
}

/* CSS Code */
.sidebar{
    width: 18vw;
    height: 100vh;
    /* background-color: var(--white); */
    /* padding-top: 5vh; */
    padding: 3vw 1vw;
}
.menu-item{
    margin-top: 4vh;
    display: grid;
    row-gap: 2vh;
}
.list-menu{
    display: grid;
    row-gap: 1vh;
    margin-top: 1vh;
    padding: 0 10px;
}
.menu-content{
    display: grid;
    row-gap: 10px;
    grid-template-columns: 35px auto;
    height: 50px;
    width: 100%;
    align-items: center;
    padding-left: 20px;
    border-radius: 15px;
}
.menu-content:hover{
    background-color: var(--light-orange);
    transition: 0.1s;
}
/* .menu-content .sidebar-subheading:hover{
    color: var(--dark-green);
} */
/* .menu-content path:hover{
    fill: var(--dark-green);
} */

.margin-30{
    margin-left: 30px;
}
.margin-40{
    margin-left: 40px;
}

.content{
    margin-top: 4vh;
}

/* SVG Config */
.my-svg{
    fill: var(--dark-green);
}

@media screen and (max-width: 1024px){
    .sidebar-subheading{
        display: none;
    }
}
